<!DOCTYPE html>
<html lang="en">
<head>
    <!-- NEEDS USERNAME VARIABLE WITH SESSION USERNAME -->
    <%- include('partials/templates/head.ejs')  %> 

</head>
<body style="background-color: #e5e5e5;">

    <div class="container-fluid">

        <%- include('partials/content/header.ejs')  %> 

        <div class="row pt-3 pb-3 pr-0 title">
            <div class="col pr-0 d-flex justify-content-center">
               <h1 style="font-family: monospace;">Search by <a class="titleSwap" href="/artists"></a></h1>
            </div>
        </div>

        <div class="row pt-3 pb-3 pr-0 search">
    
        
        
            <div class="col-2 col-lg"></div>

            <div class="col pt-2 pr-0">
                <form class="form-inline d-flex justify-content-start align-items-center md-form form-sm">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input id="searchField" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search">
                </form>
    
                <ul id="nameList">
    
                </ul>
                <ul id="albumList">

                </ul>

                <div id="albumTracks">
                    <ul id="albumTracksList">

                    </ul>

                </div>
               
                <div id="embedPlayer">
                    
                </div>

            </div>

            <div class="col-lg"></div>

            </div>

            <% console.log(username) %>

            <div id="formDiv" style="display: none;">
           <% if(username != 'undefined' && username != undefined){ %> 
            <form id="reviewForm" action="/albums" method="POST">
                <h4><%= username %> </h4>
                <input type="hidden" name="userID" value="<%= userID %> ">
                <input id="albumIDinput" type="hidden" name="albumID" value="">

                5 stars<input type="radio" name="rating" id="" value="5">
                4 stars<input type="radio" name="rating" id="" value="4">
                3 stars<input type="radio" name="rating" id="" value="3">
                2 stars<input type="radio" name="rating" id="" value="2">
                1 star<input type="radio" name="rating" id="" value="1">
                <textarea name="reviewText" id="reviewText" cols="30" rows="10"></textarea>
                <input type="submit">
            </form>
        <% } %> 
        </div>
        

        <!-- <div id="artistName">

        </div>

        <div class="row  pl-3 ">

            <div id="col albumTracks">
            
                <ul id="albumTracksList">
    
                </ul>
    
            </div>
    
            <div id="col imgs">
                


            </div>

        </div> -->

    
        <div id="albumsInfo">
    
        </div>

    </div> <!-- end of container fluid -->


    
    <%- include('partials/templates/defaults.ejs')  %> 

</body>
</html>