<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('partials/templates/head.ejs')  %> 
    <link rel="stylesheet" href="css/stars.css">
</head>
<body style="background-color: #e5e5e5;">

    <div class="container-fluid">

        <%- include('partials/content/header.ejs')  %> 

        <div class="row pt-3 pb-3 pr-0 mt-3 title">
            <!-- <div class="col-lg col-2"></div> -->
            <div class="col pr-0 d-flex justify-content-center">
                <h1 style="font-family: monospace;">Search an artist<a class="titleSwap" href="/artists"></a></h1>
            </div>
            <!-- <div class="col-lg col-2"></div> -->
        </div>

        <div class="row pt-3 pb-3 pr-0 search">
    
            <div class="col-2 col-lg"></div>

            <div class="col pl-0 pt-2 pr-0">
                <form class="form-inline pl-3 d-flex justify-content-start align-items-center lg-form form-lg  w-100">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input id="searchField" class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search" aria-label="Search" autocomplete="off">
                </form>


                <hr style="background-color: orangered;">
    
                <ul class="pl-5" id="nameList">
    
                </ul>

                <ul class="pl-5" id="albumList">

                </ul>

            </div>

            <div class="col-2 col-lg"></div>
            
        </div> 


        <div class="row">

            <div class="offset-lg-2 col-lg-3">

                <div class="row h-100 align-items-end justify-content-center">

                    <div id="albumName"  class="col-12 d-flex justify-content-center"  style="font-size:50px;padding-left:10px;padding-right:0px;">
                        <p id="artistName"></p>
                    </div>

                    <div id="albumCover">
                        
                    </div>

                </div>

            </div>


            <div class="col-lg-7 mt-4  d-flex align-items-end justify-content-center" id="embedPlayer">
                <!-- embedded spotify album player -->
            </div>


        </div>

        <hr style="display:none;">

        <!-- start of review submission -->

        <div class="container" id="reviewBlock" style="background-color: #d9d9d9;">

            <div id="userRev" class="row pt-1" style="display:none;">

                <div class="col d-flex justify-content-center">
                    <h1>Submitted Reviews</h1>

                </div>

            </div>
            
    <!--  <div id="reviewBlock">
            
        </div>  -->


            <div class="row">
                <div class="col"></div>
                <div class="col">
                    <hr style="height: 1px;
                    background-color: orangered;
                    border: none;display:none;margin-top:0.5rem">
                </div>
                <div class="col"></div>
            </div>


        </div>


        <hr style="display:none;">


        <% if(username){ %> 

            <div class="row mb-3">
                <div id="reviewTitle" class="col" style="font-size:30px; text-align: center;display:none;">
                    Submit a review as <%= username %>  
                </div>
            </div>

            <div class="row" id="formDiv" style="display: none;">

                <div class="col-lg-2 col-0"></div>
                <div class="col">
                    <form id="reviewForm" action="/albums" method="POST">
                        <input type="hidden" name="userID" value="<%= userID %> ">
                        <input id="albumIDinput" type="hidden" name="albumID" value="">
                        <input id="albumArtinput" type="hidden" name="albumArt" value="">
                        <input id="albumNameinput" type="hidden" name="albumName" value="">
                        <input id="artistNameinput" type="hidden" name="artistName" value="">

                        <div class="row w-100">
                            <div class="stars" id="ratingsForm">
                                <input type="radio" name="rating" class="star-1" id="star-1" value="1"/>
                                <label class="star-1" for="star-1">1</label>
                                <input type="radio" name="rating" class="star-2" id="star-2" value="2"/>
                                <label class="star-2" for="star-2">2</label>
                                <input type="radio" name="rating" class="star-3" id="star-3" value="3"/>
                                <label class="star-3" for="star-3">3</label>
                                <input type="radio" name="rating" class="star-4" id="star-4" value="4"/>
                                <label class="star-4" for="star-4">4</label>
                                <input type="radio" name="rating" class="star-5" id="star-5" value="5"/>
                                <label class="star-5" for="star-5">5</label>
                                <span></span>
                            </div>
                        </div>

                        <div class="row w-100">
                            <div class="col d-flex justify-content-center mt-3 mb-3">
                                <textarea name="reviewText" id="reviewText"></textarea>
                            </div>
                        </div>
                        
                        <div class="row w-100">
                            <div class="col d-flex justify-content-center">
                                <input class="boing btn btn-danger" type="submit">
                            </div>
                        </div>
                        
                    </form>
                </div>
                <div class="col-lg-2 col-0"></div>

            </div>
        <% } %>

        <%- include('partials/content/footer.ejs')  %> 

    </div> <!-- end of container fluid -->

    
    <%- include('partials/templates/defaults.ejs')  %> 

</body>
</html>