<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body>

    <div class="container-fluid">

      <%- include('partials/content/header.ejs')  %> 

      <div class="row mb-5">
        <!-- empty space -->
      </div>

      <div class="row pt-3 pb-3 pr-0">

        <!-- this will be the start of the forEach that 
                loops through the reviews in the database -->

        <div class="col-lg-3 prof">

            <!-- album recieved from api here -->
            <div class="row pt-3 justify-content-center">
                    <img src="../images/placeholder.png" alt="">
                   
            </div>

            <div class="row pt-2 justify-content-center">
                    <ul style="padding-left:0px;">
                        <li class="profileLink">Notifications</li>
                        <li class="profileLink">Delete Account</li>
                    </ul>
            </div>


        </div>

        <div class="col-lg-9 pl-5 reviews">
            
            <div class="row w-100 pt-3">
                <h1 class="ml-2" style="font-family: 'Courier New', Courier, monospace;">My Reviews</h1>
            </div>
            <hr>
            <% myreviews.forEach(review => { %>
                <div> <%= review.text %>  </div>
                <div> <%= review.albumID %>  </div>
                <div> <%= review.stars %>  </div>
            <% }) %>
            <div class="row">
                <h1 class="ml-2">Rodeo</h1>
            </div>
            <div class="row ml-2 mt-2">
                <!-- link to the albums details on the albums page -->
               <a href="/albums"><img class="cover mr-5" src="../images/rodeo.jpg" alt=""></a>
                <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
            </div>

            <!-- save album rating as integer and add a checked star
                    for each -->

            <div class="row ml-2 mt-3">
                <span class="one fa fa-star fa-2x checked"></span>
                <span class="two fa fa-star fa-2x checked"></span>
                <span class="three fa fa-star fa-2x checked"></span>
                <span class="four fa fa-star fa-2x checked"></span>
                <span class="five fa fa-star fa-2x checked"></span>
            </div>

            <div class="row">
                <blockquote class="lead blockquote text-left">
                    
                    In Travis Scott's first studio album, following his legendary mixtape "Days Before Rodeo", Scott solidified the sound that would later become known as modern trap. Trance-inducing beats and mesmerizing melodies overlap in 14 tracks of a 21st century musical masterpiece.

                </blockquote>
            </div>

        </div>

    </div> <!-- end of individual review block and db.forEach -->

    <div class="row mt-3 pb-3 pr-0">

        <div class="col-lg-3">
            <div class="row w-100 pt-3"></div> <!-- empty space for page formatting -->
        </div>

        <div class="col-lg-9 pl-5 reviews">

            <hr>

            <div class="row">
                <h1 class="ml-2">Birds in the Trap Sing McKnight</h1>
            </div>

            <div class="row ml-2 mt-2">
                <!-- link to the albums details on the albums page -->
                <a href="/albums"><img class="cover mr-5" src="../images/birds.jpg" alt=""></a>
                <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
            </div>

            <!-- save album rating as integer and add a checked star
                    for each -->
            <!-- example: album is given 4 stars, the span class "five" wouldnt have checked class-->

            <div class="row ml-2 mt-3">
                <span class="one fa fa-star fa-2x checked"></span>
                <span class="two fa fa-star fa-2x checked"></span>
                <span class="three fa fa-star fa-2x checked"></span>
                <span class="four fa fa-star fa-2x checked"></span>
                <span class="five fa fa-star fa-2x checked"></span>
            </div>

            <div class="row">
                <blockquote class="lead blockquote text-left">
                    
                    A tragic accident dramatically changes Travis Scott's life, taking him into a surreal journey through time and into life after death.

                </blockquote>
            </div>

        </div>

    </div>

<!-- end of individual review block and db.forEach -->

</div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 

  </body>
</html>