<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/templates/head.ejs')  %> 
  </head>
  <body style="background-color: #e5e5e5;">

    <div class="container-fluid">

    <%- include('partials/content/header.ejs')  %> 

    <% if(username) { %>

      <div class="row mb-5">
        <!-- empty space -->
      </div>

      <div class="row pt-3 pr-0">


        <div class="col-lg-3 prof">

            <div class="row justify-content-center">
                <%= username %> 
            </div>
            <div class="row pt-2 justify-content-center">
                <!-- <img src="../images/placeholder.png" alt=""> -->
                <% if (hasProfilePhoto == 'true') { %>
                    <img height="200px" src="/image">
                <% }else{ %> 
                    <img height="200px" src="../images/placeholder.png" alt="">
                <% } %> 
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <label for="files" style="cursor:pointer;" class="btn btn-primary">Choose Image</label>
                    <input id="files" style="display:none;" type="file" accept="image/*" name="photo" >
                    <label for="submit" style="cursor:pointer;" class="btn btn-primary">Upload Photo</label>
                    <input id="submit" type="submit" style="display:none;" value="upload">
            </form>
            </div>

            <div class="row pt-2 justify-content-center">
                    <ul style="padding-left:0px;">
                        <li class="profileLink">Notifications</li>
                        <li class="profileLink">Delete Account</li>
                    </ul>
            </div>


        </div>

        <div class="col-lg-9 pl-5 reviews">
            
            <div class="row w-100 pt-3">
                <h1 class="ml-2" style="font-family:inherit;font-size:80px;"> <%= username %>'s  <span style="color:rgb(255, 11, 11)">fire</span><img src="../../../images/FireAlone.png" class="mb-2" alt="fireTakesLogo" style="height:40px;width:48px;"></a> reviews</h1>
                
            </div>
            <hr>
            <% myreviews.forEach(review => { %>
                <h1> <%= review.albumTitle %>  </h1>
                <h3> <%= review.aristName %>  </h3>
                <div class="row ml-2 mt-2">
                    <!-- link to the albums details on the albums page -->
                   <a href="/albums"><img class="cover mr-5" src=" <%= review.albumURL %>  " alt=""></a>
                    <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
                </div>
                <div> <%= review.text %>  </div>
                <div> <%= review.stars %> Stars </div>
            <% }) %>
            <!-- <div class="row">
                <h1 class="ml-2">Rodeo</h1>
            </div>
            <div class="row ml-2 mt-2"> -->
                <!-- link to the albums details on the albums page -->
               <!-- <a href="/albums"><img class="cover mr-5" src="../images/rodeo.jpg" alt=""></a>
                <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
            </div> -->

            <!-- save album rating as integer and add a checked star
                    for each -->

            <!-- <div class="row ml-2 mt-3">
                <span class="one fa fa-star fa-2x checked"></span>
                <span class="two fa fa-star fa-2x checked"></span>
                <span class="three fa fa-star fa-2x checked"></span>
                <span class="four fa fa-star fa-2x checked"></span>
                <span class="five fa fa-star fa-2x checked"></span>
            </div>

            <div class="row">
                <blockquote class="lead blockquote text-left">
                    
                    In Travis Scott's first studio album, following his legendary mixtape "Days Before Rodeo", Scott solidified the sound that would later become known as modern trap. Trance-inducing beats and mesmerizing melodies overlap in 14 tracks of a 21st century musical masterpiece.

                </blockquote>
            </div>

        </div>

    </div>  -->
    <!-- end of individual review block and db.forEach -->

    <div class="row pr-0">

        <div class="col-lg-3">
            <div class="row w-100 pt-3"></div> 
        </div>
        <!-- empty space for page formatting -->

        <!-- <div class="col-lg-9 pl-5 reviews">

            <hr>

            <div class="row">
                <h1 class="ml-2">Birds in the Trap Sing McKnight</h1>
            </div>

            <div class="row ml-2 mt-2">
                link to the albums details on the albums page -->
                <!-- <a href="/albums"><img class="cover mr-5" src="../images/birds.jpg" alt=""></a>
                <span><a href="#" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit Review</a></span>
            </div> -->

            <!-- save album rating as integer and add a checked star
                    for each -->
            <!-- example: album is given 4 stars, the span class "five" wouldnt have checked class-->

            <!-- <div class="row ml-2 mt-3">
                <span class="one fa fa-star fa-2x checked"></span>
                <span class="two fa fa-star fa-2x checked"></span>
                <span class="three fa fa-star fa-2x checked"></span>
                <span class="four fa fa-star fa-2x checked"></span>
                <span class="five fa fa-star fa-2x checked"></span>
            </div>

            <div class="row">
                <blockquote class="lead blockquote text-left">
                    
                    A tragic accident dramatically changes Travis Scott's life, taking him into a surreal journey through time and into life after death.

                </blockquote>
            </div>

        </div> -->

    </div>

    <% } else { %> 
        <h1>You're not logged in, idiot.</h1>
    <% } %>

    <%- include('partials/content/footer.ejs')  %> 

</div> <!-- end container fluid -->


    <%- include('partials/templates/defaults.ejs')  %> 
    <script src="/js/profile.js" type="text/javascript"></script>
  </body>
</html>